nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 99;
}

.show-navshrink {
    box-shadow: 0px 0px 15px skyblue;
    background-color: white;
}

main {
    padding-top: 100px;
}

.header__nav-item{
    border: 1px solid transparent;
    border-radius: 5px;
}

.header__nav-right{
    gap: 300px;
}

.header__nav-btns {
    gap: 20px;
}

.header__nav-list {
    gap: 15px;
}

.header__nav-item {
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    border-bottom: 1.5px solid transparent;
    transition: 0.3s;
    position: relative;
}

.header__nav-contact-btn {
    padding: 6px 15px;
    border: 1.5px solid black;
    background: transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
}



.header__nav-hamburger-btn {
    border: none;
    background: transparent;
    display: none;
    flex-direction: column;
    gap: 5px;
}

.header__nav-hamburger-btn span {
    width: 20px;
    height: 3px;
    background: black;
    border-radius: 2px;
}

@media(max-width:1165px) {
    .header__nav-hamburger-btn {
        display: flex;

    }

    .header__nav-list {
        position: fixed;
        top: 0;
        left: -100%;
        background: white;
        height: 100vh;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        box-shadow: 0px 0px 15px skyblue;
        transition: 0.4s;
        z-index: 9999;
    }

    .header__nav-item::after {
        height: 2px;
    }

    .show-header__nav-list {
        left: 0;

    }
}

.hero{
    padding: 100px 0px;
}

.hero__left h1{
    font-size: 55px;
    color: var(--primary-color);
}

.hero__left p{
    font-size: 18px;
    color: var(--text-color);
    padding: 30px 0px;
}

.hero__left__btn{
    padding: 15px 45px;
    font-size: 18px;
    color: var(--secondary-color);
    border: 1px solid transparent;
    background-color: var(--primary-color);
    border-radius: 10px;
}

